# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignore virtual environments
.venv/
venv/

# Ignore ROS build and devel folders
build/
devel/
install/
log/
.vscode/

# Ignore catkin tools and colcon logs
.catkin_tools/
.colcon/
COLCON_IGNORE

# Ignore ROS 2 packages that are dependencies
src/control_msgs/*
src/action_demo_py/*
src/service_demo_py/*
src/topic_demo_py/*

# Ignore other common system files
.DS_Store
Thumbs.db

#security
.env
src/control_msgs
